.gallery-page {
    width: 80%;
    margin: 3rem auto 4rem auto;
}

.gallery-page .title {
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    /* font-family: 'Inter'; */
}

.gallery-page .nfts-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1.7rem;
    margin-top: 3rem;
}

.gallery-page .nft-card #row-1 {
    display: flex;
    justify-content: space-between;
}

.gallery-page .nft-card #row-1 .card-title {
    width: 80%;
}

.gallery-page .nft-card #row-1 .card-add-to-cart-btn {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.gallery-page .pagination-container {
    margin-top: 2rem;
}

/* Small devices */
@media screen and (max-width: 768px) {
    .gallery-page {
        width: 90%;
        margin: 2rem auto 3.5rem auto;
    }

    .nfts-container {
        grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    }
}

/* Nft Component */

.nft-card {
    width: 200px;
}

@media screen and (max-width: 768px) {
    .nft-card {
        width: 145px;
    }
}
